@font-face {
	font-family: 'UniNeueThin';
	src: url('../fonts/UniNeueThin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UniNeueThin.woff') format('woff'),
		url('../fonts/UniNeueThin.ttf') format('truetype'),
		url('../fonts/UniNeueThin.svg#UniNeueThin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UniNeueLight';
	src: url('../fonts/UniNeueLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UniNeueLight.woff') format('woff'),
		url('../fonts/UniNeueLight.ttf') format('truetype'),
		url('../fonts/UniNeueLight.svg#UniNeueLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UniNeueRegular';
	src: url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UniNeueRegular.woff') format('woff'),
		url('../fonts/UniNeueRegular.ttf') format('truetype'),
		url('../fonts/UniNeueRegular.svg#UniNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UniNeueHeavy';
	src: url('../fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UniNeueHeavy.woff') format('woff'),
		url('../fonts/UniNeueHeavy.ttf') format('truetype'),
		url('../fonts/UniNeueHeavy.svg#UniNeueHeavy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UniNeueBook';
	src: url('../fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UniNeueBook.woff') format('woff'),
		url('../fonts/UniNeueBook.ttf') format('truetype'),
		url('../fonts/UniNeueBook.svg#UniNeueBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UniNeueBold';
	src: url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UniNeueBold.woff') format('woff'),
		url('../fonts/UniNeueBold.ttf') format('truetype'),
		url('../fonts/UniNeueBold.svg#UniNeueBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UniNeueBlack';
	src: url('../fonts/UniNeueBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UniNeueBlack.woff') format('woff'),
		url('../fonts/UniNeueBlack.ttf') format('truetype'),
		url('../fonts/UniNeueBlack.svg#UniNeueBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro.otf') format('opentype'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype'),
		url('../fonts/GothamPro.svg#GothamPro') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'GothamPro-Black';
	src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Black.otf') format('opentype'),
		url('../fonts/GothamPro-Black.woff') format('woff'),
		url('../fonts/GothamPro-Black.ttf') format('truetype'),
		url('../fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-BlackItalic';
	src: url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-BlackItalic.otf') format('opentype'),
		url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
		url('../fonts/GothamPro-BlackItalic.ttf') format('truetype'),
		url('../fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Bold.otf') format('opentype'),
		url('../fonts/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro-Bold.ttf') format('truetype'),
		url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-BoldItalic';
	src: url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-BoldItalic.otf') format('opentype'),
		url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
		url('../fonts/GothamPro-BoldItalic.ttf') format('truetype'),
		url('../fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Italic';
	src: url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Italic.otf') format('opentype'),
		url('../fonts/GothamPro-Italic.woff') format('woff'),
		url('../fonts/GothamPro-Italic.ttf') format('truetype'),
		url('../fonts/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Light';
	src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Light.otf') format('opentype'),
		url('../fonts/GothamPro-Light.woff') format('woff'),
		url('../fonts/GothamPro-Light.ttf') format('truetype'),
		url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-LightItalic';
	src: url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-LightItalic.otf') format('opentype'),
		url('../fonts/GothamPro-LightItalic.woff') format('woff'),
		url('../fonts/GothamPro-LightItalic.ttf') format('truetype'),
		url('../fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Medium';
	src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Medium.otf') format('opentype'),
		url('../fonts/GothamPro-Medium.woff') format('woff'),
		url('../fonts/GothamPro-Medium.ttf') format('truetype'),
		url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-MediumItalic';
	src: url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-MediumItalic.otf') format('opentype'),
		url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
		url('../fonts/GothamPro-MediumItalic.ttf') format('truetype'),
		url('../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProNarrow-Bold';
	src: url('../fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamProNarrow-Bold.otf') format('opentype'),
		url('../fonts/GothamProNarrow-Bold.woff') format('woff'),
		url('../fonts/GothamProNarrow-Bold.ttf') format('truetype'),
		url('../fonts/GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProNarrow-Medium';
	src: url('../fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamProNarrow-Medium.otf') format('opentype'),
		url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
		url('../fonts/GothamProNarrow-Medium.ttf') format('truetype'),
		url('../fonts/GothamProNarrow-Medium.svg#GothamProNarrow-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
